.App {
  background-color: #e9ecef;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  min-height: 100vh;
  padding: 48px 12px;
}

.row {
  margin: 0;
  padding: 0;
}

.row-ns {
  padding: 4px;
}

.col,
.col-ns {
  padding: 15px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
