.ActivityIndicator .dots {
  height: 48px;
  padding: 20px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.ActivityIndicator .dots span {
  -webkit-transition: all 6000ms ease;
  transition: all 6000ms ease;
  background: rgba(69, 69, 69, 0.5);
  height: 8px;
  width: 8px;
  margin: 0 6px 0 0;
  display: inline-block;
  border-radius: 50%;
  animation: flash 2s ease infinite;
  -webkit-animation: flash 2s ease infinite;
}

.ActivityIndicator .dots span:nth-child(1) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}
.ActivityIndicator .dots span:nth-child(2) {
  animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
}
.ActivityIndicator .dots span:nth-child(3) {
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}

@-webkit-keyframes flash {
  0%,
  40%,
  100% {
    background-color: rgba(69, 69, 69, 0.5);
  }
  10% {
    background-color: rgba(69, 69, 69, 1);
  }
}

@keyframes flash {
  0%,
  40%,
  100% {
    background-color: rgba(69, 69, 69, 0.5);
  }
  10% {
    background-color: rgba(69, 69, 69, 1);
  }
}
